<!-- Hero section -->
<section class="hero">
  <div class="hero-content">
    <img src="images/retrato_portada.jpg" alt="Imagen retrato de Gonzalo Castaldi" class="hero-image">
    
    <h1 class="hero-title">Gonzalo Castaldi</h1>
    
    <h2 class="hero-subtitle">21 años, estudiante Licenciatura en Sistemas en Universidad ORT Uruguay</h2>
    
    <p class="hero-description">
        Mi nombre es Gonzalo Castaldi, tengo 21 años y soy estudiante avanzado de la carrera de 
        Licenciatura en Sistemas en la Universidad ORT Uruguay. Actualmente estoy cursando mis últimos 
        semestres de la carrera y estoy buscando una oportunidad para empezar mi carrera profesional 
        como programador. Estoy interesado en el desarrollo de software y en la creación de aplicaciones 
        web y móviles. Actualmente estoy trabajando en un proyecto personal de una aplicación web estilo 
        Fantasy Football, donde los usuarios pueden crear sus propias ligas y equipos para competir entre 
        ellos. Al mismo tiempo, también tengo otros proyectos académicos realizados durante mi carrera.
    </p>

    <div class="hero-buttons">
        <a href="cv.pdf" target="_blank" class="btn"><i class="fa-solid fa-file-pdf"></i> Ver CV</a>
        <a href="https://www.linkedin.com/in/gonzalo-castaldi-11a3811aa/" target="_blank" class="btn"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
    </div>
  </div>
</section>

<!-- Projects section -->
<section class="projects-section" id="projects">
  <h2 class="projects-title">Mis Proyectos</h2>
  <div class="projects-grid">

    <app-project
      title="Fantasy Football App"
      description="Aplicación web donde los usuarios pueden crear sus propias ligas y equipos para competir entre ellos, ganando puntos gracias al rendimiento real de sus equipos."
      image="images/yorugua_card.jpg"
      imageAlt="Fantasy Football App"
      primaryButtonText="Visitar Sitio"
      primaryButtonIcon="fa-solid fa-eye"
      primaryButtonLink="https://tu-proyecto.com"
      secondaryButtonText="Visitar Repositorio"
      secondaryButtonIcon="fa-brands fa-github"
      secondaryButtonLink="https://github.com/tu-usuario/proyecto"
    />

    <app-project
      title="Object Simulator"
      description="Aplicación web para la simulación de ejecuciónes de métodos utilizando la lógica de POO. Permite crear clases, objetos y métodos, y simular su comportamiento."
      image="images/object_simulator_card.jpg"
      imageAlt="Object Simulator"
      primaryButtonText="Visitar Repositorio"
      primaryButtonIcon="fa-brands fa-github"
      primaryButtonLink="https://link-proyecto.com"
    />

    <app-project
      title="TaskPanelApp"
      description="Aplicación web para la gestión de tareas y proyectos, permitiendo a los usuarios organizar y priorizar su trabajo de manera eficiente."
      image="images/task_panel_card.jpg"
      imageAlt="TaskPanelApp"
      primaryButtonText="Visitar Repositorio"
      primaryButtonIcon="fa-brands fa-github"
      primaryButtonLink="https://link-proyecto.com"
    />

  </div>
</section>